<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>

<body>

  <!-- SIMPLE NAVBAR -->
  <nav class="custom-nav">
    <div class="nav-inner">
      <span class="nav-title">Eran Meshorer Lab</span>
      <div class="nav-links">
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/people/' | relative_url }}">People</a>
        <a href="{{ '/research/' | relative_url }}">Research</a>
        <a href="{{ '/publications/' | relative_url }}">Publications</a>
        <a href="{{ '/contact/' | relative_url }}">Contact</a>
      </div>
    </div>
  </nav>

  {{ content }}

</body>
</html>
